strong {
  font-weight: 600;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
}
p {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "黑体", "Open Sans", "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 300;
  background-color: #000000;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}
.container {
  margin: 0;
  padding: 0;
}
#header {
  padding-top: 10px;
  padding-bottom: 10px;
}
#header .hititle {
  color: #ffffff;
  margin-left: 20px;
  width: 200px;
}
#header .medtitle {
  color: #b3b3b3;
  margin-left: 20px;
  width: 200px;
}
#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 20px;
}
#footer #legend {
  position: absolute;
  width: 100%;
  padding-left: 20px;
}
#footer #legend .category {
  margin-right: 20px;
  font-size: 0.7em;
}
#footer #legend .category .clabel {
  color: #808080;
  font-size: 14px;
}
#footer #legend .category span.csquare {
  margin-right: 4.666666666666667px;
  padding-left: 5px;
  padding-right: 7px;
  height: 14px;
  opacity: 0.6;
}
#footer #attribution {
  color: #808080;
  text-align: right;
  padding-right: 20px;
}
#footer #attribution .amper {
  color: #ffffff;
}
#content {
  background-color: #222;
}
#container {
  background-color: #000;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.overlay div.popup {
  /*border-left: 2px solid @text;*/

  /*border-right: 2px solid @text;*/

  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
}
.overlay div.popup span.name {
  font-weight: bold;
}
div#footer div#legend span.highlight span.clabel {
  color: #ffffff;
}
div#footer div#legend span.highlight span.csquare {
  opacity: 1.0;
}
.zoomer {
  background-color: #444 !important;
  border: solid 1px #555 !important;
  border-radius: 0 !important;
}
.zoomdisabled {
  background-color: #333 !important;
}
